body{
    font-family: cursive, 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', 'Arial, Sans-serif';
}

.main-color {
    background-color: blue !important ;
}

.banner{
    height: 80vh;
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('../WhatsApp\ Image\ 2026-01-03\ at\ 22.02.46.jpeg');
    background-size: cover ;
    background-image: center;
}

.hovered-card{
    transition: .3;
}
.hovered-card:hover{
    transform: scale(1.1);
}